@page "/ProductDetail/{ProductId}"
@using Blazored.Toast.Configuration
@using Ecommerce.Shared.Dtos

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="done_outline"
                ErrorIcon="fa fa-bug"/>

@if (this.Product == null)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" alt="Loading..."/>
    </div>
}
else
{
    <div class="row w-100">
        <div class="container mt-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">@Product.Name</h1>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="row w-100 mt-3">
        <div class="col text-center">
            <img src="@this.Product.ImageUrl" class="img-top" alt="Product 1">
        </div>
    </div>

    <div class="row w-100 mt-3">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-6">Price: $@this.Product.Price</h1>
                <button type="button" class="btn btn-primary btn-lg">Add to Cart <i class="bi bi-cart4"></i></button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <h1 class="display-6">Description</h1>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <h1 class="lead">@this.Product.Description</h1>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="container mt-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">Customer Reviews</h1>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="ratings text-center mb-3">
            <h4>Average Rating</h4>
            <span class="rating-stars">
                @for (decimal i = 1; i < 6; i++)
                {
                    if (this.Product.AverageRating > i && this.Product.AverageRating < i + 1)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-half text-primary" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                        </svg>
                    }
                    else if (this.Product.AverageRating > i || this.Product.AverageRating == i)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill text-primary" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star text-primary" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    }
                }
            </span>
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            @if (this.UserHasReview == false)
            {
                <div class="row w-100 text-center">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Submit Your Review</h5>
                            <form>
                                <div class="form-group">
                                    <div class="ratings">
                                        <span class="rating-stars text-primary">
                                            <i class="@this.Star1Class" @onmouseover="() => OnStarMouseOver(1)" @onmouseout="() => OnStarMouseOut(1)" @onclick="() => OnStarClick(1)"></i>
                                            <i class="@this.Star2Class" @onmouseover="() => OnStarMouseOver(2)" @onmouseout="() => OnStarMouseOut(2)" @onclick="() => OnStarClick(2)"></i>
                                            <i class="@this.Star3Class" @onmouseover="() => OnStarMouseOver(3)" @onmouseout="() => OnStarMouseOut(3)" @onclick="() => OnStarClick(3)"></i>
                                            <i class="@this.Star4Class" @onmouseover="() => OnStarMouseOver(4)" @onmouseout="() => OnStarMouseOut(4)" @onclick="() => OnStarClick(4)"></i>
                                            <i class="@this.Star5Class" @onmouseover="() => OnStarMouseOver(5)" @onmouseout="() => OnStarMouseOut(5)" @onclick="() => OnStarClick(5)"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="comments">Comments (Max 500 characters):</label>
                                    <textarea class="form-control" id="comments" name="comments" rows="4" maxlength="500" required @bind="@this.ReviewModel.Comments"></textarea>
                                </div>

                                <button type="button" class="btn btn-primary mt-2" @onclick="SubmitReview">Submit Review</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else if (this.UserHasReview && this.EditExistingReview)
            {
                <div class="row w-100 text-center">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Update Your Review</h5>
                            <form>
                                <div class="form-group">
                                    <div class="ratings">
                                        <span class="rating-stars text-primary">
                                            <i class="@this.Star1Class" @onmouseover="() => OnStarMouseOver(1)" @onmouseout="() => OnStarMouseOut(1)" @onclick="() => OnStarClick(1)"></i>
                                            <i class="@this.Star2Class" @onmouseover="() => OnStarMouseOver(2)" @onmouseout="() => OnStarMouseOut(2)" @onclick="() => OnStarClick(2)"></i>
                                            <i class="@this.Star3Class" @onmouseover="() => OnStarMouseOver(3)" @onmouseout="() => OnStarMouseOut(3)" @onclick="() => OnStarClick(3)"></i>
                                            <i class="@this.Star4Class" @onmouseover="() => OnStarMouseOver(4)" @onmouseout="() => OnStarMouseOut(4)" @onclick="() => OnStarClick(4)"></i>
                                            <i class="@this.Star5Class" @onmouseover="() => OnStarMouseOver(5)" @onmouseout="() => OnStarMouseOut(5)" @onclick="() => OnStarClick(5)"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="comments">Comments (Max 500 characters):</label>
                                    <textarea class="form-control" id="comments" name="comments" rows="4" maxlength="500" required @bind="@this.ExistingUserReview!.Comments"></textarea>
                                </div>

                                <button type="button" class="btn btn-primary mt-2" @onclick="UpdateReview">Save Changes</button>
                                <button type="button" class="btn btn-danger mt-2" @onclick="DeleteReview">Delete</button>
                                <button type="button" class="btn btn-secondary mt-2" @onclick="CancelEditing">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else if (this.UserHasReview)
            {
                <div class="row w-100">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@this.ExistingUserReview!.UserName</h5>
                            <div class="ratings">
                                <span class="rating-stars text-primary">
                                    @for (int i = 1; i < 6; i++)
                                    {
                                        if (this.ExistingUserReview!.Stars >= i)
                                        {
                                            <i class="bi bi-star-fill"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                    }
                                </span>
                            </div>
                            <p class="card-text mt-2">@this.ExistingUserReview!.Comments</p>
                            <button type="button" class="btn btn-primary" @onclick="EditReviewClick">Edit</button>
                            <button type="button" class="btn btn-danger" @onclick="DeleteReview">Delete</button>
                        </div>
                    </div>
                </div>
            }
        </Authorized>
    </AuthorizeView>

    if (this.Product.CustomerReviews.Any())
    {
        <div class="row w-100">
            @foreach (ReviewDto review in this.Product.CustomerReviews)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@review.UserName</h5>
                        <div class="ratings">
                            <span class="rating-stars text-primary">
                                @for (int i = 1; i < 6; i++)
                                {
                                    if (review.Stars >= i)
                                    {
                                        <i class="bi bi-star-fill"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                }
                            </span>
                        </div>
                        <p class="card-text mt-2">@review.Comments</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        if (this.UserHasReview == false)
        {
            <div class="row w-100">
                <div class="col text-center">
                    <h3 class="display-6">No Customer Reviews Yet</h3>
                </div>
            </div>
        }
    }
}