@page "/ProductDetail/{ProductId}"
@using Blazored.Toast.Configuration
@using Ecommerce.Shared.Dtos

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="done_outline"
                ErrorIcon="fa fa-bug"/>

@if (this.Product == null)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" alt="Loading..."/>
    </div>
}
else
{
    <div class="row w-100">
        <div class="container mt-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">@Product.Name</h1>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="row w-100 mt-3">
        <div class="col text-center">
            <img src="@this.Product.ImageUrl" class="img-top" alt="Product 1">
        </div>
    </div>

    <div class="row w-100 mt-3">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-6">Price: $@this.Product.Price</h1>
                <button type="button" class="btn btn-primary btn-lg">Add to Cart <i class="bi bi-cart4"></i></button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <h1 class="display-6">Description</h1>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <h1 class="lead">@this.Product.Description</h1>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="container mt-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">Customer Reviews</h1>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="row w-100">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Submit Your Review</h5>
                        <form>
                            <div class="form-group">
                                <div class="ratings">
                                    <span class="rating-stars text-primary">
                                        <i class="@this.Star1Class" @onmouseover="() => OnStarMouseOver(1)" @onmouseout="() => OnStarMouseOut(1)" @onclick="() => OnStarClick(1)"></i>
                                        <i class="@this.Star2Class" @onmouseover="() => OnStarMouseOver(2)" @onmouseout="() => OnStarMouseOut(2)" @onclick="() => OnStarClick(2)"></i>
                                        <i class="@this.Star3Class" @onmouseover="() => OnStarMouseOver(3)" @onmouseout="() => OnStarMouseOut(3)" @onclick="() => OnStarClick(3)"></i>
                                        <i class="@this.Star4Class" @onmouseover="() => OnStarMouseOver(4)" @onmouseout="() => OnStarMouseOut(4)" @onclick="() => OnStarClick(4)"></i>
                                        <i class="@this.Star5Class" @onmouseover="() => OnStarMouseOver(5)" @onmouseout="() => OnStarMouseOut(5)" @onclick="() => OnStarClick(5)"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comments">Comments (Max 500 characters):</label>
                                <textarea class="form-control" id="comments" name="comments" rows="4" maxlength="500" required @bind="@this.ReviewModel.Comments"></textarea>
                            </div>

                            <button type="button" class="btn btn-primary mt-2" @onclick="SubmitReview">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    @if (this.Product.CustomerReviews.Any())
    {
        <div class="row w-100">
            @foreach (ReviewDto review in this.Product.CustomerReviews)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@review.UserName</h5>
                        <div class="ratings">
                            <span class="rating-stars">
                                @for (decimal i = 0; i < 5; i++)
                                {
                                    if (review.Stars > i || review.Stars == i)
                                    {
                                        <i class="bi bi-star-fill"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                }
                            </span>
                        </div>
                        <p class="card-text">@review.Comments</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row w-100">
            <div class="col text-center">
                <h3 class="display-4">No Customer Reviews Yet</h3>
            </div>
        </div>
    }
}